@media only screen and (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse{
        flex-direction: row;
        display: flex!important;
        flex-basis: auto;
    }
    .navbar-toggler {
        color: white;
        font-size: 1.3rem;
        cursor: pointer;
        outline: none;
        Background-color: orange;
    }
}

#my-name, h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text-center {
    text-align: center!important;
}

.flex-column {
    flex-direction: column!important;
}

.d-flex {
    display: flex!important;
}

.mt-3 {
    margin-top: 1rem!important;
}

.ml-auto {
    margin-left: auto!important;
}


#navbar {
    background-color: black;
    padding: 0.5rem 1rem;
    align-items: center;
    display: inline-block;
    height: 45px;
    
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    line-height: 1;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.navbar-nav .nav-item .nav-link {
    padding: 0.5rem;
    color: white;
    transition: 0.3s;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    line-height: inherit;
    text-align: left;
    margin-left: 15px;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.nav-link {
    text-align: right;
    margin-right: 15px;
    height: 40px;
    max-width: 10%;
}

nav ul {
    height: 40px;
    list-style: none;
}



.fa.fa-github {
    font-family: "Font Awesome 5 brands";
    font-weight: 400;
}
.fa.fa-linkedin {
    font-family: "Font Awesome 5 brands";
    font-weight: 400;
}

.rounded {
    border-radius: 0.25rem!important;
}

nav a {
    color: white
}

img {
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

.fas {
    font-weight: 900;
    font-family: "Font awesome 5 free";
}

.hero {
    background-image: url(./images/camille-minouflet-d7M5Xramf8g-unsplash.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

.align-items-center {
    align-items: center!important;
}

.hero-name {
    font-size: 65px;
    font-weight: 700;
    line-height:56px;
    font-family: cursive;
    color: black;
    text-align: center;
}

.hero-container {
    color: black;
    font-family: fantasy;
    margin-bottom: 220px;
    margin-right: 50px;
}


.skills, .contact {
    background: rgb(187, 242, 252)
}


.progress-bar {
    height: 20px;
}



.img-responsive {
    width: 100%;
    height: auto;
}

.scrollable-row {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 50%;
    overflow-x: scroll;
    grid-column-gap: 16px;
    overscroll-behavior-inline: contain;
}

.portfolio-info {
    text-align: center;
}

.portfolio-html {
    border: 1px solid purple;
    color: purple;
}

.portfolio-css {
    border: 1px solid blue;
    color: blue;   
}

.portfolio-html, .portfolio-css {
    font-size: 11px;
    padding: 0 4px;
    border-radius: 12px;
}

.projects {
    padding: 1rem;
    background-color:#ffd394;
    display: inline-block;
}

.projects > img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.title-section h2 {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 20px;
    position: relative;
    color: #173b6c;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
  }
  
  .aspectRatioBox {
    padding-top: 10px;
    background-size: cover;
  }

  .rounded {
    border-radius: 0.25!important;
  }

  .contact-inner {
    background-color:#ffd394;
    padding: 24px 0;
    display: grid;
   
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 15px;
  }

  h3 {
    font-weight: bolder;
  }

  .aspectratiobox-location {
    padding-top: calc(1/2 *100%);
    background-size: cover;
    background-position: center;
    border: 1px solid black;
  }

  .contact-email, .contact-social {
    margin-top: 24px;
  }

  h4 {
    font-size: 1rem;
    margin-bottom: 0px;
  }

  #contact {
    padding-left:25px;
    padding-right: 30px;
  }

  .contact-email i {
    font-size: 24px;
    color: black;
    margin-bottom: 12px;
  }

  .contact-social i {
    font-size: 24px;
    color: black;
    margin-bottom: 12px;
  }

  .contact-email, .contact-social {
    text-align: center;
  }

  .contact-rounded {
    text-align: center;
  }
  
.send-message-button {
    background-color:navy;
    color: #fff;
    margin-top: 12px;
}

  .contact-column {
    padding-right: 40px;
    padding-left: 40px;
  }

  .footer-inner {
    background-color: grey;
    color: black;
    font-size: 14px;
    border-top: 1px solid grey;
    padding: 24px 0;
  }

  .col-auto {
    margin-left: 300px;
  }

  .border-style {
    border: 1px solid black;
  }

  /* .container-fluid {
    max-width: 1550px;
  } */

